dataset_scripts/
models/*
data/*
tf_logs/*
.idea/
venv/
docs/build/*
*.pyc
__pycache__
dataset_visualizer/static/train/*
dataset_visualizer/static/val/*
dataset_visualizer/static/test/*
detectron2
*.pth
*.pt
result_nooc.1.0txt
result_ooc.1.0.txt
result_right_1,0.txt
evaluate_ooc_back.py